@mixin random-colors {
  $offset: 128;

  // $channels: random(255), random(255), random(255);
  // $randoms: [];
  // @each $ch in $channels {
  //   append($randoms, $ch + $offset);
  // }

  // background-color: rgb(random(255), random(255), random(255));
  background-color: rgb(
    random(255 - $offset) + $offset,
    random(255 - $offset) + $offset,
    random(255 - $offset) + $offset
  );
}

.navbar {
  $navbarSectionPadding: 0.5rem;
  padding: 0 $navbarSectionPadding;

  display: flex;

  div {
    // text-align: center;

    flex: 1;
  }

  @mixin flex-vertical-center {
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  .navbarLogo {
    @include flex-vertical-center();
    // @include random-colors;
  }

  .navbarButtons {
    // @include random-colors;

    flex: 2;

    .navbarButtonContainer {
      // @include random-colors;
      background-color: midnightblue;

      // width: 90%;
      max-width: fit-content;
      height: 90%;
      margin: 0 auto;
      padding: 0 1rem;
      $buttonContainerBorder: 0.8rem;
      border-radius: 0 0 $buttonContainerBorder $buttonContainerBorder;

      display: flex;
      justify-content: space-evenly;

      .navbarButton {
        // @include random-colors;
        // margin: 0 auto;
        margin: 0 0.75rem;

        flex: 1;

        // display: inline-table;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .navbarUser {
    @include flex-vertical-center();
    // @include random-colors;
    justify-content: flex-end;
  }
}
